<form [formGroup]="form" class="p-6 space-y-6">

  <h2 class="text-lg font-semibold">
    {{ user ? 'Editar Usuario' : 'Nuevo Usuario' }}
  </h2>

  <!-- NAME -->
  <div>
    <input class="input w-full" formControlName="name" placeholder="Nombre completo" />
    
    @if (form.controls.name.touched && form.controls.name.invalid) {
      <p class="text-red-500 text-xs">Nombre requerido</p>
    }
  </div>

  <!-- EMAIL -->
  <div>
    <input class="input w-full" formControlName="email" placeholder="Email" />
    
    @if (form.controls.email.touched && form.controls.email.invalid) {
      <p class="text-red-500 text-xs">Email inválido</p>
    }
  </div>

  <!-- ROLE -->
  <input class="input w-full" formControlName="role" />

  <!-- ACTIONS -->
  <div class="flex justify-end gap-2">
    <button type="button" (click)="cancel()">Cancelar</button>

    <button class="btn-primary" type="button" (click)="save()">
      Guardar
    </button>
  </div>

</form>