<div class="p-6 space-y-6">
  <h2 class="text-lg font-semibold">
    {{ user ? 'Editar Usuario' : 'Nuevo Usuario' }}
  </h2>

  <!-- INPUTS -->
  <div class="space-y-4">
    <input class="input w-full" [(ngModel)]="model.name" placeholder="Nombre completo" />

    <input class="input w-full" [(ngModel)]="model.email" placeholder="Email" />

    <input class="input w-full" [(ngModel)]="model.role" placeholder="Rol" />
  </div>

  <!-- ACTION -->
  <div class="flex justify-end gap-2">
    <button (click)="close.emit()">Cancelar</button>

    <button class="btn-primary" (click)="save()">Guardar Cambios</button>
  </div>
</div>
