/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tw-animate-css';

/* ===================== */
/* LIGHT */
/* ===================== */
:root {
  --background: #f8fafc;
  --card: #ffffff;
  --sidebar: #ffffff;
  --border: #e5e7eb;

  --text: #111827;
  --text-muted: #6b7280;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;
}

/* ===================== */
/* DARK */
/* ===================== */
.dark {
  --background: #020617;
  --card: #0b1220;
  --sidebar: #0f172a;
  --border: #1f2937;
  --sidebar-border: #e5e7eb;

  --text: #e5e7eb;
  --text-muted: #9ca3af;

  --sidebar-accent: #1f2937;

  --primary: #3b82f6;
  --primary-hover: #2563eb;
}

/* ===================== */
/* BASE */
/* ===================== */
body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, sans-serif;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}